Django==5.0.6
django-cors-headers==4.4.0
pywin32==306
Requests==2.32.2
torch==2.3.0
accelerate==0.30.1
transformers==4.41.1
chardet==5.2.0
tqdm==4.65.0
faiss-cpu==1.8.0.post1
Pillow==10.4.0
joblib==1.4.2
scikit-learn==1.5.1
scipy==1.14.0
sentence-transformers==3.0.1
threadpoolctl==3.5.0
openai==1.40.6
anthropic==0.34.2